html, body {
  font-family: "Inter", "Figtree", "Roboto", sans-serif;
}

img {
  width: 400px;
  height: 400px;
}

p {
  color: black;
}

nav {
  background: #34c6eb;
  padding: 5px;
}

nav a {
  color: white;
}

.info {
  display: flex;
}

.genre {
  display: flex;
  padding: 5px;
}

.genre img {
  height: 300px;
  width: 300px;
}
