html, body {
  font-family: "Inter", "Figtree", "Roboto", sans-serif;
}

img {
  width: 400px;
  height: 400px;
}

p {
  color: black;
}

nav {
  background: #34c6eb;
  padding: 5px;
}

nav a {
  color: white;
}

nav a.active {
  color: grey;
}

.info {
  display: flex;
}

.genre {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.genre img {
  height: 150px;
  width: 150px;
}
